body {
    /*background: #1d1e22;
    color: #fff;*/
    background-color: rgb(68, 72, 87);
    color: rgb(183, 187, 200);
}

div {
    background-color: rgb(68, 72, 87);
    color: rgb(183, 187, 200);

}

a {
    color: inherit;
}

.inactive {
    display: none;
}

.select {
    display: none;
}