body {
    /*background: #1d1e22;
    color: #fff;*/
    background-color: rgb(68, 72, 87);
    color: rgb(183, 187, 200);
}

div {
    background-color: rgb(68, 72, 87);
    color: rgb(183, 187, 200);

}

a {
    color: inherit;
}

p {
    margin-left: 5px;
}

.inactive {
    display: none;
}

.hidden {
    display: none;
}

.normalButton {
    padding: 2px 5px;
    margin: 0 5px;
}

#replay {
    display: none;
    padding: 2px 8px;
    border-radius: 2%;
    margin-top: 10px;
    margin-left: 5px;
}