body {
    /*background: #1d1e22;
    color: #fff;*/
    background-color: rgb(68, 72, 87);
    color: rgb(183, 187, 200);
}

div {
    background-color: rgb(68, 72, 87);
    color: rgb(183, 187, 200);
}

table, th, td {
    border: 1px solid rgba(183, 187, 200, 0.7);
    border-collapse: collapse;
    margin: 2px 5px;
    padding: 3px 10px;
    text-align: center;
}

table {
    width: 300px;
    position: absolute;
    top: 320px;
}

#th-main {
    background-color: rgba(183, 187, 200, 0.15);
}

a {
    color: inherit;
}

p {
    margin-left: 5px;
}

.inactive {
    display: none;
}

.hidden {
    display: none;
}

.normalButton {
    padding: 2px 5px;
    margin: 0 5px;
}

#replay {
    display: none;
    padding: 2px 8px;
    border-radius: 2%;
    margin-top: 10px;
    margin-left: 5px;
}